*/{ margin:0; padding:0}
td {padding: 5px 10px; border:#666 1px solid;}
a{ color:#FFF}
h2{ color:#333; text-align:center;}
body{ background:#DADADA; color:#FFF}
table{ margin:auto; background:#999; margin-top:10px; border-radius:5px; width:800px;}
#tieude{ background:#666}

